#div-form{
	width: 30%;
	height: fit-content;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0 0 8px 0px black;
}

#div-captcha{
	margin-top: 15px;
	margin-bottom: 15px;
}

#div-contenedora{
	width: 40%;
	margin: 0 auto;
}

#correcto{
	width:300px;
	height:320px;
	margin:0 auto;
	text-align: center;
}

.imgC{
	position:absolute; 
	top: 20;
	left:50%;
	margin-left: -150px;
}

.texto{
	font-family: 'Coming Soon', cursive;
	color: #2B726C;
	font-weight: bold;
	font-size: 20px;
}

h1{
	color: #2B726C;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	font-family: 'Coming Soon', cursive;
	text-shadow: 2px 2px 2px #CCC;
}


